* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

.page-container {
  position: relative;
  background-image: url("https://static.vecteezy.com/system/resources/previews/008/716/084/original/retro-vintage-rustic-podcast-quote-poster-with-microphone-illustration-vector.jpg");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(
    0,
    0,
    0,
    0.4
  ); /* Adjust this value to change the overall transparency */
}

.sign-up-container {
  position: relative; /* To appear above the overlay */
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  width: 350px;
  text-align: center;
}

.sign-up-container h2 {
  margin-bottom: 20px;
  font-size: 32px;
  color: #fff;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
}

.sign-up-form label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #fff;
  text-align: left;
}

.sign-up-form input {
  margin-bottom: 15px;
  padding: 12px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  background-color: #333;
  color: #fff;
}

.sign-up-form button {
  padding: 12px;
  border: none;
  border-radius: 4px;
  background-color: #e50914; /* Netflix red */
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

.sign-up-form button:hover {
  background-color: #f40612; /* Slightly lighter red on hover */
}

.sign-up-form p {
  margin-top: 20px;
  color: #737373;
}

.sign-up-form a {
  color: #fff;
  text-decoration: none;
}

.sign-up-form a:hover {
  text-decoration: underline;
}
